{% extends 'base.html.twig' %}

{% block title %}Hello VoyageController!{% endblock %}

{% block body %}
<pre>
    votre date de reservation {{ reservation.getDateRes()|date("d/m/Y") }}
    de nom : {{ reservation.getCl().getNomPrenom()}}
    votre Ville from : {{ reservation.getVoy().getFromVille() }} 
        a l'aeroport {{ reservation.getVoy().getArDepart().getNom()}}
    votre Ville destinateur : {{ reservation.getVoy().getToVille() }} 
        a l'aeroport {{ reservation.getVoy().getArArrive().getNom()}}
    date de depart : {{ reservation.getVoy().getDateAller()|date("d/m/Y") }}
    {% if reservation.getVoy().getDateRetour() %}
    date de retour : {{ reservation.getVoy().getDateRetour()|date("d/m/Y") }}
    {% endif %}
    {% if reservation.getConfirmer() %}
         reservation confirmer 
    {% endif %}
      {% if reservation.getConfirmer() == 0 %}
         <a href="{{ path ('confimer_res' , {id:reservation.getId()}) }}" class="btn btn-primary"> confirmer </a>
    {% endif %}
        nombre de personne dans cette reservation : {{ reservation.getNbPers()}}
    </pre>
{% endblock %}