{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <h1> modifier Avion </h1>
    {{ form_start(form) }}
    {{ form_row(form.nom,{'attr' :{'class' :'form-control'}})}}
    {{ form_row(form.nb_place,{'attr' :{'class' :'form-control'}})}}
    {{ form_row(form.heberg,{'attr' :{'class' :'form-control'}})}}
    <button type="submit" class="btn btn-primary"> connect </button>
    {{ form_end(form) }}
{% endblock %}