{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
    <h1><center>liste des clients</center> </h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">cin</th>
            <th scope="col">nom&prenom</th>
            <th scope="col">mail</th>
            <th scope="col">tel</th>
            <th scope="col">password</th>
            <th scope="col"> supprimer </th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <th scope="row">{{ client.getId() }}</th>
            <td>{{ client.getCin() }}</td>
            <td>{{ client.getNomPrenom() }}</td>
            <td>{{ client.getMail() }}</td>
            <td>{{ client.getTel() }}</td>
            <td>{{ client.getPassword() }}</td>
            <td><a href="{{ path ('delete_client' , {id: client.getId()}) }}" class="btn btn-danger btn-sm">DELELTE</a></td>
        </tr>
        {% endfor %}
    </table>
    <center> <a href="/Client/ajouter" class="btn btn-success"> ajouter client</a></center>
{% endblock %}
