{% extends 'base3.html.twig' %}

{% block title %}Hello VoyageController!{% endblock %}

{% block body %}
    <h1> liste des voyages </h1>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">from</th>
                <th scope="col">to</th>
                <th scope="col"> date aller</th>
                <th scope="col"> date retour </th>
                <th scope="col"> details </th>
            </tr>
            </thead>
            <tbody>
    {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.getFromVille() }}</td>
                <td>{{ voyage.getToVille() }}</td>
                <td> {{ voyage.getDateAller()|date("d/m/Y") }}</td>
                <td> {{ voyage.getDateRetour()|date("d/m/Y") }}</td>
                <td><a href="{{ path('detail_voyage' , {id:voyage.getId()}) }}" class="btn btn-outline-success btn-sm"> details </a> </td>
            </tr>
    {% endfor %}
            </tbody>
        </table>
    {% endblock %}